.Main {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-family: 'inter';
  
}

.toDoList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  min-height: 200px;
  width: 100%;
  padding: 12px 0;
  background-color: #fff;
  border-radius: 12px;
}
.listTitle {

}

.task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  width: 80%;
  height: 26px;
  padding: 4px 5%;
  border-bottom: #f0f4f9 2px solid;
}

.listTitle{
}

.taskStatusButton {
  height: 26px;
  width: 26px;
  text-align: center;
  border-radius: 50%;
  border: none;
  color: #2d9bf0;
  font-weight: 700;
}

.addNewTask {
  height: 26px;
  background-color: #fff;
  padding: 4px 5%;
  border-radius: 12px;
  display: flex;
  gap: 24px;
}

.addNewTaskInput {
  border: #f0f4f9 solid 1px;
  border-radius: 6px;
  width: 100%;
}

.addNewTaskButton {
  border-radius: 8px;
  font-family: 'inter';
  border: none;
  background-color: #2d9bf0;
}

.completed {
  text-decoration: line-through;
  color: #f0f4f9;
}

.filterButtons {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.filterButton {
  font-family: 'inter';
  border-radius: 6px;
  border: 0px;
  font-size: 14px;
  padding: 4px 12px;
  background-color: #f0f4f9;
}