.task {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background-color: white;
  height: 34px;
  border-radius: 17px;
}
.taskStatusButton {
  border-radius: 50%;
  height: 26px;
  width: 26px;
  text-align: center;
}