@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: url(./Inter/Inter-Regular.ttf) format(truetype);
}

@font-face {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: auto;
    src: url(./Inter/Inter-Medium.ttf) format(truetype);
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-display: auto;
    src: url(./Inter/Inter-Black.ttf) format(truetype)
}